body {
	font-family: 'Xanh Mono';
	background-color: #eee;
	color: #333;
	font-size: 20px;
	margin: 20px;
}

h1 {
	font-size: 32px;
}

a {
	color: MediumSlateBlue;
	text-decoration: none;
}
a:hover {
	font-style: italic;
}
a:not(:hover) .mouseover-only {
	display: none;
}

ul {
	line-height: 25px;
}
